@import url('https://googleapis.com');

body
{
    margin:0;
    font-family:Arial,Helvetica,sans-serif;
    background:#80b5cd;color:#222
}
header
{
    color:black;
    padding:20px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center
}
header nav a
{
    color:black;
    margin-left:20px;
    text-decoration:none;
    font-weight:bold;
    font-family: 'League Spartan', sans-serif;
}

.chosen{
    background-color: #c1ff72;
    padding: 10px;
    border-radius: 10px 
}

.logo
{
    margin-left: 50px;
    width: 200px;
    height: 90px;
}

.main
{
    color: black;
    width: 80%;
    height: 400px;
    background-color: #d8e0e2;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 400px;
}

.title {
    font-family: 'League Spartan', sans-serif;
    margin-top: 30px;
}

.content
{
    width: 30%;
    margin-left: 100px;
}

.section
{
    width: 80%;
    padding:60px 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center; /* vertically centers them */
    gap: 20px;
}
.section h2
{
    background-color: #c1ff72;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Archivo Black', sans-serif;
    font-style: normal; 
    color: rgb(0, 0, 0); 
    font-kerning: normal; 
    text-decoration-line: none; 
    text-decoration-style: solid;
    text-decoration-thickness: auto;
}

.section p, .content p{
    font-family: 'Chivo', 'Work Sans', sans-serif;
    letter-spacing: -0.02em;
}