<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Anasayfa" stopProcessing="true">
                    <match url="^anasayfa/?$" />
                    <action type="Rewrite" url="/index.html" />
                </rule>

                <rule name="Dergi" stopProcessing="true">
                    <match url="^dergi/?$" />
                    <action type="Rewrite" url="/dergi.html" />
                </rule>

                <rule name="Etkinlikler" stopProcessing="true">
                    <match url="^etkinlikler/?$" />
                    <action type="Rewrite" url="/etkinlikler.html" />
                </rule>

                <rule name="Hakkimizda" stopProcessing="true">
                    <match url="^hakk(i|ı)m(i|ı)zda/?$" />
                    <action type="Rewrite" url="/abt.html" />
                </rule>

                <rule name="Bludit" stopProcessing="true">
                    <match url="^blog/(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="blog/index.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
